<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="MERCHANT_CARD_PREFIX" value="100378"/>
    <add key="MGV_CPGNAME" value="Dominos Refund EGift Card"/>
    <add key="MAX_REDEEM_TXN_COUNT" value="1"/>
    <add key="PARAMDOWNLOAD_FILEPATH" value="C:\Program Files (x86)\Hustle\QC\GCWebPOSParams.txt"/>
    <add key="CANCEL_FILEPATH" value="C:\Program Files (x86)\Hustle\QC\Reversal"/>
    <add key="CANCEL_TXN_COUNT" value="1"/>
    <add key="SET_TIMEOUT" value="Y"/>
    <add key="APPLICATION_TIMEOUT" value="210000"/>
    <add key="REDEEM_NOTES_TO_GET_PIN_TYPE" value="GetPINType"/>
    <add key="REDEEM_NOTES_TO_SEND_OTP" value="SendCode"/>
    <add key="CARDNUMBER_MAX_LENGTH" value="11"/>
    <add key="CARDPIN_MAX_LENGTH" value="6"/>
    <add key="ENABLE_ONSCREEN_KEYBOARD" value="N"/>
    <add key="ONSCREEN_KEYBOARD_FONT_SIZE" value="10"/>
    <add key="PAYMENT_API_ASSEMBLY_NAME" value="../JublFood.Payment.API.dll"/>
    <add key="PAYMENT_API_CLASS_NAME" value="JublFood.Payment.API.PaymentProcessing"/>
    <add key="PAYMENT_API_ORDERRESULT_CLASS_NAME" value="JublFood.Payment.API.OrderResult"/>
    <add key="PAYMENT_API_ORDERSTATUS_ENUM_NAME" value="JublFood.Payment.API.Status"/>
    <add key="PAYMENT_API_CONFIG_NAME" value="JublFood.Payment.API.config"/>
    <add key="PAYMENT_API_METHOD_NAME_FOR_LOCATION_CODE" value="GetLocationCode"/>
    <add key="PAYMENT_API_METHOD_NAME_FOR_ORDER" value="GetOrderDetails"/>
    <add key="PAYMENT_API_METHOD_NAME_FOR_REFUND" value="GetOrderDetailRefund"/>
    <add key="PAYMENT_API_METHOD_NAME_FOR_CANCEL" value="GetOrderDetailRefund"/>
    <add key="PAYMENT_API_METHOD_NAME_FOR_ORDER_COMPLETE" value="OrderProcessingComplete"/>
    <add key="PAYMENT_API_METHOD_NAME_FOR_ORDER_REFUND_COMPLETE" value="OrderRefundProcessingComplete"/>
    <add key="PAYMENT_API_METHOD_NAME_FOR_ORDER_CANCEL_COMPLETE" value="OrderCancelProcessingComplete"/>
    <add key="PAYMENT_API_PROPERTY_NAME_ORDERSTATUS" value="OrderStatus"/>
    <add key="PAYMENT_API_PROPERTY_NAME_ORDERDETAILS" value="OrderDetails"/>
    <add key="PAYMENT_API_PROPERTY_NAME_MESSAGE" value="Message"/>
    <add key="INTERNET_CONNECTIVITY_TEST_SITE" value="www.google.com"/>
    <add key="PROP_TERMINAL_ID_PREFIX" value="DominosPOS:"/>
    <add key="PROP_TERMINAL_ID" value=""/>
    <add key="PROP_USERNAME" value="dominosintuser"/>
    <add key="PROP_PASSWORD" value="ReQ6QUBVCuZh7X0wYmzZMA=="/>
    <add key="PROP_FORWARDENTITYID" value="com.dominospizza"/>
    <add key="PROP_FORWARDENTITYPASSWORD" value="xTKYi3ZW7pSowNGtXfr8tg=="/>
    <add key="PROP_SERVERURL" value="/eGMS.HTTPProcessor2/TransactionPOST.aspx"/>
    <add key="PROP_SERVERNAME" value="dominos.qwikcilver.com"/>
    <add key="PROP_PORTNUMBER" value="80"/>
    <add key="PROP_SECURECONNECTION" value="false"/>
    <add key="PROP_CONNECTIONTIMEOUT" value="21000"/>
    <add key="PROP_TRANSACTIONTIMEOUT" value="21000"/>
    <add key="START_X_CORD" value="80"/>
    <add key="START_Y_CORD" value="50"/>
    <add key="SILENT_ACTIVATION" value="Y"/>
    <add key="REDEEM_TRANS_RETRY_COUNT" value="2"/>
    <add key="CREATE_AND_ACTIVATE_TRANS_RETRY_COUNT" value="0"/>
  </appSettings>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="DatePattern" value="dd-MM-yyyy\.\l\o\g" />
      <file type="log4net.Util.PatternString" value="QC\\logs\\QwikcilverPos.LogFile-" />
      <param name="AppendToFile" value="true" />
      <param name="Threshold" value="Debug" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="RollingStyle" value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <param name="CountDirection" value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <logger name="QwikcilverPos">
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
  </log4net>
</configuration>
