<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mid" value="Biryan07586009923453"/>
    <add key="key" value="9gwkikbaj8slwqb!"/>
    <add key="FontSize" value="9"/>
    <add key="HomeScreenDownloadedDate" value="20190626"/>
    <add key="BusinessType" value="UPI_QR_CODE"/>
    <add key="IsHomeScreenApiConnect" value="false"/>
    <add key="MerchantName" value="Biryani of India"/>
    <add key="StartTime" value="20"/>
    <add key="ShowResendTime" value="60"/>
    <add key="Interval" value="5"/>
    <add key="StatusCount" value="10"/>
    <add key="OrderExpiry" value="5"/>
    <add key="TxnStatusUrl" value="https://securegw.paytm.in/merchant-status/getTxnStatus?JsonData="/>
    <add key="CreateQrCodeUrl" value="https://securegw.paytm.in/qr/create?orderid="/>
    <add key="RefundUrl" value="https://securegw.paytm.in/refund/apply"/>
    <add key="SendPaymentRequestUrl" value="https://securegw.paytm.in/order/sendpaymentrequest?orderid="/>
    <add key="ResendPaymentRequestUrl" value="https://securegw.paytm.in/order/resendpaymentrequest?orderid="/>
    <add key="ReversalUrl" value="https://securegw.paytm.in/refund/api/v1/reversal"/>
    <add key="SuccessStatusCodeforQrCode" value="QR_0001"/>
    <add key="Data" value="{'CODE_AND_OTP':'Paytm Wallet','PPI':'Paytm Wallet','UPI':'BHIM UPI','PPBL':'Paytm Bank','CC':'Credit Card','DC':'Debit Card','NB':'NetBanking','PAYTM_DIGITAL_CREDIT':'Paytm Postpaid'}"/>
    <add key="SerialPort" value="{'portName':'COM9','baudRate':115200,'parity':0, 'dataBits':8, 'stopBits':1}"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
